html {
  background-color: #e0fbfc;
}

.App {
  text-align: center;
}

.title {
  color: #3d5a80;
  margin: 0;
}

.city-name {
  color: #293241;
}

.city-timestamp {
  color: #ee6c4d;
}

* {
  box-sizing: border-box;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0px 10px;
}

.header {
  display: flex;
  align-items: center;
}

.searchbar {
  padding-top: 10px;
}

.container {
  display: flex;
  align-content: space-between;
}

.news {
  padding-left: 10px;
}
